PORT=3030
RECALL_REGION=us-west-2
RECALL_API_KEY=
RECALL_BOT_ID=
RECALL_WEBHOOK_TOKEN=

# for scripts/create-bot.js
RECALL_MEETING_URL=
OUTPUT_MEDIA_URL=
RECALL_REALTIME_WEBHOOK_URL=
RECALL_BOT_NAME=Snake Host
